body{
	margin:0px;
	background-color:hsl(15, 60%, 60%);
}

div.cabecera{
	display:block;
}

div.titulo{
	height:150px;
	text-align:center;
	background-color:hsl(15, 80%, 80%);
	font-size:90px;
	color:hsl(15, 80%, 20%);
}

div.textocab{
	background-color:hsl(15, 80%, 80%);
	color:hsl(15, 60%, 40%);
	font-size:25px;
	text-align:right;
}

div.dropdown{
	display:flex;
	height:50px;
	font-size:20px;
	border:3px solid hsl(15, 60%, 40%);
	background-color:hsl(15, 60%, 40%);
}

div.uno{
	flex:25%;
	background-color:hsl(15, 60%, 60%);
	border:3px solid hsl(15, 60%, 40%);
	padding-top:10px;
	padding-left:7px;
	border-radius:6px;
	z-index:10;
}

div.uno:hover{
	background-color:hsl(15, 60%, 20%);
	color:hsl(15, 60%, 90%);
}
div.uno > b{
	display:none;
}
div.uno:hover > b{
	display:block;
}
b{
	color:hsl(15, 60%, 90%);
	background-color:hsl(0, 0%, 50%);
	border:2px solid black;
}

b:hover{
	background-color:white;
	color:black;
}

div.grande{
	display:flex;
}

div.izq{
	flex:20%;
	background-color:hsl(15, 60%, 80%);
	display:block;
}

div.medio{
	flex:60%;
	background-color:hsl(15, 60%, 90%);
	height:720px;
	overflow:scroll;
	scrollbar-width: none;
}

div.Formulario{
	flex:20%;
	background-color:hsl(15, 60%, 90%);
	border:5px solid hsl(15, 60%, 80%);
}


div.sticky{
	height:125px;
	font-size:100px;
	position:sticky;
	top:0px;
	background-color:hsl(15, 60%, 90%);
}


div.texto{
	background-color:hsl(15, 60%, 70%);
}

div.Valor{
	background-color:hsl(15, 60%, 90%);
	border:1px solid black;
	border-radius:3px;
	margin:5px;
	height:30px;
	font-size:25px;
}

div.form{
	font-size:35px;
	color:hsl(15, 80%, 20%);
}
form{
	margin:15px;
}
ul{
	list-style:none;
}

div.prueba{
	display:flex;
	margin:5px;
	background-color:hsl(15, 60%, 80%);
	border:6px solid hsl(15, 60%, 80%);
	border-radius:6px;
}

div.cosa{
	flex:20%;
}

input{
	flex:80%;
}
textarea{
	flex:80%;
}

div.botones{
	display:flex;
	margin:5px;
	background-color:hsl(15, 60%, 80%);
	border:6px solid hsl(15, 60%, 80%);
	border-radius:6px;
}

div.select{
	flex:20%;
}

div.enviar{
	margin:5px;
	background-color:hsl(15, 60%, 80%);
	border:6px solid hsl(15, 60%, 80%);
	border-radius:6px;
	text-align:center;
}

@media screen and (max-width: 900px){
	div.grande{
		display:block;
	}
}

div.final{
	display:flex;
	background-color:hsl(15, 60%, 60%);
}

div.flexes{
	display:block;
	flex:25%;
	background-color:hsl(15, 60%, 90%);
	height:145px;
	font-size:20px;
	color:hsl(15, 60%, 60%);
	border:3px solid hsl(15, 60%, 60%);
	border-radius:10px;
	padding-left:5px;
}
