head,
body {
	all: unset;
	background-color: #01172B;
}

.cabecera {
	height: 75px;
	color: rgb(220, 220, 150);
}

.sidebarbutton {
	padding-left: 30px;
	width: 5%;
	display: inline-block;
}

.title {
	margin-left: 20px;
	display: inline-block;
	width: 75%;
	height: 100%;
}

.socials {
	display: inline-block;
	width: fit-content;
	height: 30px;
}

.socialsimage {
	height: 30px;
	width: 30px;
}

.socialslink {
	display: inline-block;
	height: 30px;
	width: 30px;
}

.twitter:hover {
	content: url(images/Socials/Twitter/output-onlinegiftools.gif);
}

div.navBar {
	flex: 25%;
	background-color: rgb(0, 163, 163);
	border: 3px solid #01172B;
	padding-top: 10px;
	padding-left: 7px;
	border-radius: 6px;
	z-index: 10;
	font-size: 22px;
}

div.navBar:hover {
	background-color: rgba(0, 150, 150, 100);
	color: hsl(15, 60%, 90%);
}

div.navBar>b {
	display: none;
}

div.navBar:hover>b {
	display: block;
}

b {
	color: hsl(15, 60%, 90%);
	background-color: hsl(0, 0%, 50%);
	border: 2px solid black;
	padding: 2px;
	padding-left: 5px;
}

div.dropdown {
	display: flex;
	height: 50px;
}

.dropdowntitle {
	text-decoration: none;
	color: black;
	font-weight: bolder;
}



b:hover {
	background-color: white;
	color: black;
}


.content {
	display: flex;
}

.leftsidemenu {
	flex: 20%;
}

.bloq1 {
	display: block;
	border: 2px solid;
	border-radius: 5px;
	padding-right: 5px;
	font-size: 25px;
	background-color: white;
	margin-left: 5%;
	margin-right: 2%;
}

.bloq1:hover {
	display: block;
	border: 2px solid;
	border-radius: 5px;
	padding-right: 5px;
	font-size: 25px;
	margin-left: 2%;
}

.media2 {
	flex: 60%;
	background-color: rgb(104, 104, 1);
	height: 100vh;
	overflow: auto;
	/*::-webkit-scrollbar {	(enter) display: none; (enter) } */
	scrollbar-width: none;
}

.sticky1 {
	background-color: white;
	display: block;
	position: sticky;
	font-size: 60px;
	font-weight: bolder;

}

.textmedia {
	padding: 3px;
	display: block;
	font-size: 18px;
	color: white;
	margin-top: 8px;
	margin-bottom: 8px;
}

.rightsidemenu {
	flex: 12%;
	text-align: center;
}

div.bajo {
	display: flex;
}

.tabla {
	flex: 25%;
	background-color: rgba(0, 150, 150, 100);
	padding-bottom: 10px;
}

.texto {
	list-style-type: none;
	display: block;
	font-size: 110%;
	margin-left: 10%;
	margin-right: 20%;
}

.tformulario {
	margin-left: 20%;
	width: 60%;
	background-color: rgba(180, 180, 25, 100);
	text-align: center;
	font-size: 20px;
}

.labelform {
	border: 5px solid rgb(180, 180, 25);
	margin: 5px;
	border-radius: 10px;
	background-color: rgb(180, 180, 25);
	padding-left: 3px;
}

.T {
	display: flex;
	background-color: rgb(180, 180, 25);
	border: 5px solid rgb(180, 180, 25);
	border-radius: 10px;
	margin: 5px;
}

.mar {
	display: flex;
	border: 5px solid rgb(180, 180, 25);
	border-radius: 10px;
	margin: 5px;
	background-color: rgb(180, 180, 25);
}

.male {
	flex: 20%;
}

.female {
	flex: 20%
}

.other {
	flex: 20%;
}

textarea {
	margin-left: 30px;
	margin-right: 10px;
	margin-bottom: 6px;
	margin-top: 6px;
	width: 65%;
	flex: 90%;
}

input.buttonsend {
	padding: 20px;
	text-align: center;
	background-color: hsl(40, 40%, 350%);
	border: rgb(180, 100, 25);
	border-radius: 10px;
	font-size: 30px;
	width: 80%
}

input.buttonsend:active {
	padding: 20px;
	text-align: center;
	background-color: hsl(40, 40%, 350%);
	border: rgb(180, 150, 25);
	border-radius: 10px;
	font-size: 30px;
	color: black;
	background-color: rgb(180, 180, 25);
}

input {
	width: 95%;
}

.navBarGoInicio {
	flex: 25%;
	border: 3px solid #01172B;
	padding-top: 10px;
	padding-left: 7px;
	border-radius: 6px;
	z-index: 10;
	font-size: 22px;
	background-color: rgb(180, 150, 25);
}

a {
	text-decoration: none;
	color: black;
}

/*---------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 800px) {
	div.content {
		display: block;
	}

	div.bajo div {
		font-size: 90%;
	}

	div.bajo div ul {
		font-size: 85%;
	}

	div.dropdown {
		height: 70px;
	}

}